@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    @apply bg-gray-50 min-h-screen pb-5 select-none;
  }

  a {
    color: var(--el-color-primary);
  }

  a:hover {
    color: #66b1ff;
  }

  /* fix style in el-icon, el-input, el-select */
  svg {
    display: inline-block;
    vertical-align: initial;
  }
}

.content {
  @apply w-11/12 max-w-5xl m-auto;
}

.card {
  @apply m-auto mt-5 shadow-lg rounded-lg bg-white overflow-hidden;
}

.card-no-shodow {
  @apply m-auto mt-5 rounded-lg bg-white overflow-hidden border;
}

.card-header {
  @apply border-b p-4;
}

.card-title {
  @apply font-medium text-lg;
}

.card-subtitle {
  @apply font-normal text-sm text-gray-500;
}

.card-body {
  @apply text-sm p-4;
}

.card-footer {
  @apply text-right pl-4 pr-4 pb-4;
}
